.heading{
    margin-inline-start: 0vw;
    margin-left: -6vw;
    padding-left: 0vh;
}
.work{
    margin-left: 0vw;
    
}
.profilePic{
    display: flex;
    justify-items: auto;
    height: 500px;
    margin-top: -100px;
}